*.o
tests.err/
tests.fraig/
sim_output/
grading_tmp/
output/
dofile/
netlist_compare.py
parsed_aag_compare.py
gen_aag.py
gen_dofile.py
sim.py
test.cpp
tmp
grading.tgz
fraig
MustExist.txt
MustRemove.txt
SelfCheck